.container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  .card {
    background-color: white;
    box-shadow: 0 40px 40px #0d30bd15;
    border-radius: 20px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__hero {
      margin-bottom: 45px;
      img {
        border-radius: 20px 20px 0 0;
        max-width: 100%;
        height: auto;
        vertical-align: bottom;
      }
    }

    &__body {
      padding: 0px 24px;

      &--title h2 {
        color: #1f2e55;
        margin: 0;
        margin-bottom: 17px;
        text-align: center;
        font-weight: 900;
        font-size: 28px;
        line-height: 37px;
      }

      &--description p {
        color: #717fa6;
        font-weight: 500;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        max-width: 354px;
      }

      &--actions {
        max-width: 354px;
        width: 100%;
        .btn {
          outline: none;
          border: none;
          display: block;
          cursor: pointer;
          background: none;
          font-size: 15px;
          font-weight: 900;

          &-primary {
            background-color: #382ae1;
            width: 100%;
            color: white;
            padding: 15px 4px;
            box-shadow: 0px 20px 20px #382ae119;
            border-radius: 11px;
            line-height: 20px;
          }

          &-secondary {
            color: #717fa6;
            line-height: 20px;
            margin: 32px auto 48px auto;
            padding: 0px;
          }
        }
      }

      &--plan {
        background-color: #f7f9ff;
        border-radius: 11px;
        padding: 25px 24px;
        margin-bottom: 32px;
        display: flex;
        align-items: flex-start;

        img {
          vertical-align: bottom;
          margin-right: 20px;
        }

        .type {
          margin: 0;
          font-weight: 900;
          font-size: 16px;
          line-height: 21px;
          color: #1f2e55;
        }

        .price {
          margin-bottom: 0;
          margin-top: 6px;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          color: #717fa6;
        }

        .cta {
          margin-left: auto;
          align-self: center;

          a {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            text-decoration-line: underline;
            color: #382ae1;
          }
        }
      }
    }
  }
}
